__pycache__/
.pytest_cache/
.local/
config/maa_option.json
*.pyc
*.log
*.png
*.jpg
*.mp4
*.sus
charts/private/
resource/charts/
resource/models/song_title_ocr/
**/bin/
**/obj/
*.pyd
project_sekai/native/*.lib
project_sekai/native/*.pdb
native/build/
